@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --background: #222020;
  --background-color: #2059a6;
  --main-color: #19d3f3;
  --second-color: #1c344f;
  --blue-border: rgb(102, 143, 204);
  --magenda: #ff00ff;
  --color: #e1e3e3;
  /* SHADOWS--------------------------------------- */
  --text-shadow: 1px 1px 0px #2059a6, -3px -0 25px #1d1340, 3px 0px 3px #e1e3e3,
    0px 0px 15px white, 0 0 150px #1d1340;
  --box-shadow: 0 0 10px 0 #e1e3e3;
  /* CALENDAR COLORS----------------------------------- */
  --primary-clr: #b38add;
}

body {
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(photos/bcg.png);
  background-color: var(--second-color);
  color: var(--color);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 360px;
  min-height: 70dvh;
  background: repeating-conic-gradient(
    from var(--a),
    var(--background-color) 0%,
    var(--main-color) 5%,
    var(--magenda) 25%,
    transparent 50%,
    transparent 10%
  );
  animation: animate 5s linear infinite;
  border: 4px solid var(--background);
  border-radius: 25px;
  overflow: hidden;
  padding: 10px;
  z-index: 0;
}
@property --a {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}
@keyframes animate {
  0% {
    --a: 0deg;
  }
  100% {
    --a: 360deg;
  }
}

.wrapper::before {
  content: "";
  position: absolute;
  inset: 4px;
  background: url(photos/Blue-blackneon.jpg);
  background-size: cover;
  border-radius: 15px;
  border: 2px solid var(--background);
  z-index: -1;
}
/* ---------------------------LOGO SECTION---------------------------- */
.logo-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
}
.logo-container .logo-returner i {
  font-size: 1.5rem;
  color: var(--color);
  cursor: pointer;
  text-shadow: var(--text-shadow);
}
.logo-container .logo h1 {
  font-size: 2rem;
  color: var(--color);
  text-shadow: var(--text-shadow);
}
/* ---------------------TOOLTIP SECTION -----------------------------*/
.tool-tips-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: right;
  padding: 20px;
  text-shadow: var(--text-shadow);
  width: 100%;
}

.tool-tips-container .daily-list ul {
  text-align: left;
  list-style: none;
}
.tool-tips-container .date-widget #date,
.tool-tips-container .date-widget #datetime {
  font-weight: 900;
}
.tool-tips-container .date-widget #datetime {
  font-size: 1.7rem;
}
.tool-tips-container .date-widget #date {
  font-size: 1rem;
}

/*--------------------------------MAIN SECTION ------------------------------*/
.main-bar {
  text-shadow: var(--text-shadow);
  width: 330px;
  text-align: center;
  font-size: 1.7rem;
}

.main-bar .main-card ul.nav-list li {
  display: flex;
  justify-content: space-between;
  border: 2px solid var(--second-color);
  box-shadow: var(--box-shadow);
  transition: all 2ms ease-in-out;
  margin: 15px 30px;
  padding: 10px 10px;
}

.main-bar .main-card ul.nav-list li i {
  font-size: 2.5rem;
}

.main-bar .main-card ul.nav-list li,
.main-bar .main-card ul.nav-list li a {
  text-decoration: none;
  list-style: none;
  color: var(--color);
}

/* ------------------------------------Hover Animations Main Section-------------------------------------- */
.main-bar .main-card ul.nav-list li:hover {
  color: var(--main-color);
  background-image: url(photos/bcg.png);
  background-size: cover;
  transform: scale(1.1);
}

/* -------------------------------------Coding TREE HTML --------------------------------------------------- */

.skill-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 5rem;
  grid-row-gap: 3px;
  padding: 10px;
  margin: 10px;
  text-shadow: var(--text-shadow);
}
.level-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  text-shadow: var(--text-shadow);
}
.level-container .level {
  font-size: 55px;
  font-weight: bolder;
}
.level-container .level p {
  font-size: 0.7rem;
  text-align: right;
}
.level-container .job {
  display: flex;
  text-align: left;
  justify-content: center;
  flex-direction: column;
  font-size: 0.8rem;
}

.skill-container .skill {
  display: flex;
  gap: 0.6rem;
  align-items: center;
}

.skill-container .skill i {
  font-size: 1.5rem;
}
.skill-container .skill span {
  font-size: 1rem;
}

.total-points {
  margin: 10px;
  width: 90%;
  height: 45px;
  /* border: 1px solid var(--color); */
  box-shadow: var(--box-shadow);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.total-points h2 {
  font-size: 1.2rem;
  text-shadow: var(--text-shadow);
  padding: 2px;
}

.total-points i {
  display: inline;
  text-shadow: var(--text-shadow);
  font-size: 1.5rem;
  padding: 2px;
}

.coding-container {
  width: 100%;
  padding: 5px;
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* border: 1px solid pink; */
  box-shadow: var(--box-shadow);
}
#inputBx {
  position: relative;
  width: 100%;
  outline: none;
  font-size: 1rem;
  background-color: transparent;
  text-align: center;
  color: white;
  /* box-shadow: var(--box-shadow); */
  /* margin: 10px; */
  padding: 5px;
}

.coding-container ul#list li {
  position: relative;
  width: calc(100% - 20px);
  text-shadow: var(--text-shadow);
  background-color: transparent;
  margin: 5px;
  padding: 5px 0 5px 25px;
  cursor: pointer;
  /* box-shadow: var(--box-shadow); */
  text-align: left;
  list-style: none;
  font-size: .7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  word-break: break-word;
}

.coding-container ul#list li i {
  position: absolute;
  right: -15px;
  width: 10px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
}

.coding-container ul#list li i::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 1px;
  background: crimson;
  transform: rotate(-45deg);
}
.coding-container ul#list li i::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 1px;
  background: crimson;
  transform: rotate(45deg);
}

.coding-container ul#list li::before {
  content: "";
  position: absolute;
  left: 8px;
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
}

.coding-container ul#list li.done {
  background: var(--second-color);
}

.coding-container ul#list li.done::after {
  content: "";
  position: absolute;
  /* background-color: var(--magenda); */
  left: 12px;
  width: 1px;
  height: 6px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff; 
  transform: rotate(315deg);
}

#list {
  position: relative;
  margin-top: 20px;
  height: 20dvh;
  overflow-y: auto;
  padding-right: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color);
}

/* ---------------------------CALENDAR SECTION-------------------------------------- */
/* .calendar-container {
  position: relative;
  width: 100%;
  min-height: 50dvh;
  margin: 0 auto;
  padding: 5px;
  color: #fff;
  display: flex;
  border-radius: 10px;
}
.calendar-left {
  width: 100%;
  padding: 5px;
}

.calendar {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  color: var(--color);
  border-radius: 5px;
  background-color: transparent;
}

.calendar .month {
  width: 100%;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: 800;
  text-transform: capitalize;
}
.calendar .month i {
  cursor: pointer;
  transition: 1s ease-in-out;
}
.calendar .month i:hover {
  text-shadow: var(--text-shadow);
  transform: scale(1.3);
}
.calendar .weekdays {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1rem;
  font-weight: 800;
  text-transform: capitalize;
}
.calendar .weekdays div {
  width: 12%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calendar .days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 20px;
}
.calendar .days .day {
  background-color: var(--second-color);
  width: 12%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--color);
  padding: 20px;
  margin: 2px;
} */

