@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

:root {
    --background:#4153b4;
    --background-color:#1D1340;
    --main-color:#445EF2;
    --second-color:#221426;
    --blue-border:rgb(102, 143, 204);
    --color: #fff;
}



body {
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    color: var(--color);
}

.wrapper {
    width: 100%;
    max-width: 400px;
    background-color: var(--background-color);
    border: 10px solid var(--blue-border);
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding: 10px;
}

.header h1, .header p {
    margin-left: -170px;
}

.top-img img {
    width: 150px;
}

.skill-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3rem;
    padding: 10px;
}


.skill-container .skill {
    display: flex;
    gap: .6rem;
}

.skill-container .skill i{
    font-size: 3rem;
}
.skill-container .skill span {
    font-size: 2.5rem;
}